# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/front/dist
/front/tmp
/front/out-tsc

# dependencies
/front/node_modules

# IDEs and editors
*.idea
/front/.project
/front/.classpath
/front/.c9/
*.launch
/front/.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/front/.sass-cache
/front/connect.lock
/front/coverage
/front/libpeerconnection.log
/front/npm-debug.log
/front/yarn-error.log
/front/testem.log
/front/typings

# System Files
/front/.DS_Store
/front/Thumbs.db
