<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sdesc-col">
      <div class="row">{{service.name}}</div>
      <div class="row"><i>{{service.description}}</i></div>
    </div>
    <div class="col">
      <div class="row" *ngFor="let widget of service.widgets">
        <div class="container-fluid wdesc">
          <h4 class="display-4" style="font-size: 2rem"><b>{{widget.name}}</b></h4>
          <p><i>{{widget.description}}</i></p>
          <ul>
            <li *ngFor="let param of widget.params">
              {{param.name}}: {{param.type}}
            </li>
          </ul>
        </div>
        <button class="btn-success" (click)="subscribe(widget)">subscribe</button>
      </div>
    </div>
  </div>
</div>
