<mat-expansion-panel class="panel" [ngStyle]="{'background-color': 'rgb(' + service.display_color.red + ',' + service.display_color.green + ',' + service.display_color.blue + ')'}">
  <mat-expansion-panel-header class="mat-elevation-z6">
    <mat-panel-title>
      {{service.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div *ngIf="service.auth_service" class="auth-service">
    <div *ngIf="service.auth_service.registered; else notSubscribed">
      <p>Logged in with {{service.auth_service.name}}</p>
    </div>
    <ng-template #notSubscribed>
      <a mat-raised-button href="{{getAuthUrl()}}">Log in with {{service.auth_service.name}}</a>
    </ng-template>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let widget of service.widgets">
      <h4 mat-line>{{widget.name}}</h4>
      <p mat-line>{{widget.description}}</p>
      <div>
        <button mat-icon-button (click)="openDialog(widget)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>

</mat-expansion-panel>
<!--
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sdesc-col">
      <div class="row">{{service.name}}</div>
      <div class="row"><i>{{service.description}}</i></div>
    </div>
    <div class="col">
      <div class="row" *ngFor="let widget of service.widgets">
        <div class="container-fluid wdesc">
          <h4 class="display-4" style="font-size: 2rem"><b>{{widget.name}}</b></h4>
          <p><i>{{widget.description}}</i></p>
          <ul>
            <div *ngFor="let param of widget.params">
              <app-param [param]="param"></app-param>
            </div>
          </ul>
        </div>
        <button class="btn-success" (click)="subscribe(widget)">subscribe</button>
      </div>
    </div>
  </div>
</div>
-->
