<mat-expansion-panel class="panel" [ngStyle]="{'background-color': 'rgb(' + service.display_color.red + ',' + service.display_color.green + ',' + service.display_color.blue + ')'}">
  <mat-expansion-panel-header class="mat-elevation-z6">
    <mat-panel-title>
      {{service.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div *ngIf="service.auth_service" class="auth-service">
    <div *ngIf="service.auth_service.registered; else notSubscribed">
      <p>Logged in with {{service.auth_service.name}}</p>
      <button mat-button (click)="authLogout()">Logout</button>
    </div>
    <ng-template #notSubscribed>
      <a mat-raised-button href="{{getAuthUrl()}}">Log in with {{service.auth_service.name}}</a>
    </ng-template>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let widget of service.widgets">
      <h4 mat-line>{{widget.name}}</h4>
      <p mat-line>{{widget.description}}</p>
      <div>
        <button mat-icon-button [disabled]="service.auth_service && !service.auth_service.registered" (click)="openDialog(widget)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>
